body {
	background-color: #2c78a2;
	margin: 0px;
}

.outerbox{
	background-color: blue;
	position:absolute;
	right:0px;
	bottom:0px;
}

.wave_container {
	background-color:#cccccc;
	padding-top: 65px;
	width: 1035px;
	overflow:scroll
}

.wave {
	position: relative;
	left: 80px;
}

#nav_bar {
	font-family: 'Roboto';
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    width:100%;
   }

.left {
    float: left;
	}

.right{
	float:right;

	}

.nav_bar {
    display: block;
    padding: 12px;
    background-color: #333333;
	}

li a {
    display: block;
    color: white;
    
    padding: 14px 16px;
    text-decoration: none;
	}



#left_menu {
	position: absolute;
	top:30px;
	bottom: 0px;
	width: 20%;
	height: 1026px;
	background-color: black;
	font-size: 15px;

}

#menu {
	font-family: 'montserrat';
    list-style-type: none;
    padding: 0px;
    
}

.content {
	margin-left: 20%;
	color: white;
	border: none;
	margin-top: 0px;
	padding: 20px;
	margin-right:0px;
	height: 100%;
	font-family: arial;
	text-align: justify;
	overflow-y: scroll;
}

